*{
  box-sizing: border-box;
  font-family: 'Amatic SC', cursive;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar, .navbar-list, .pages-navbar, main, .container, footer {
  display: flex;
}

.navbar, footer {
  align-items: center;
  font-size: 20px;
  height: 10vh;
  justify-content: space-around;
}

.navbar-list{
  justify-content: space-between;
  width: 100%;
}

.pages-navbar {
  justify-content: space-around;
  width: 30vw;
}

.list {
  list-style: none;
  width: 10vw;
}

.list a {
  color: black;
  text-decoration: none;
}

main {
  height: 80vh;
  align-items: center ;
}

/* .home-container {

} */

.home-img, .contact-img, .about-img {
  height: 65vh;
  width: auto;
}

.shadow {
	box-shadow: 4px 8px 6px -5px #777;
	-moz-box-shadow: 4px 8px 6px -5px #777;
	-webkit-box-shadow: 4px 8px 6px -5px #777;
}

footer {
  justify-content: center;
}



